* {
	background-color: black;
	font-family: verdana;
	color: white;
	text-align: center;
}
h1{
	font-size: 50px;
	font-weight: normal;
}
p a {
	color: aquamarine;
	font-size: 16px;
}
h2{
	font-size: 42px;
	font-weight: 300;
}
h3{
	font-size: 21px;
	color: gray;
	font-weight: 300;
}
.phone{
	padding-top: 20px;
}
.footer h3{
	text-align: right;
}